/*
 * arch/arm64/boot/dts/tegra210-tx1-cti-ASG007.dts
 *
 * Copyright (c) 2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

#include "tegra210-tx1-cti-base.dts"

/ {
	model = "jetson_tx1";
	compatible = "nvidia,jetson-cv", "nvidia,tegra210";
	nvidia,dtsfilename = "tegra210-tx1-cti-ASG007.dts";

	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootloader {
			nvidia,skip-display-init;
		};
	};

	host1x {
		dc@54200000 {
			status = "disabled";
		};

		dsi {
			status = "disabled";
			panel-a-wuxga-8-0 {
				status = "disabled";
			};
			panel-s-wqxga-10-1 {
				status = "disabled";
			};
		};

		sor {
			panel-s-edp-uhdtv-15-6 {
				status = "disabled";
			};
			prod-settings {
				status = "disabled";
			};
		};
	};

	i2c@7000c400 {
		lp8557-backlight-a-wuxga-8-0@2c {
			status = "disabled";
		};
		
		tca9539@74 {
			status = "disabled";
		};
		
		tca9539@77 {
			status = "disabled";
		};
		
		pca9534@20 {
            status = "okay";
			compatible = "nxp,pca9534";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x20>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(L, 1) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};
		
		
	};

	backlight {
		status = "disabled";
		panel-a-wuxga-8-0-bl {
			status = "disabled";
		};
		panel-s-edp-uhdtv-15-6-bl {
			status = "disabled";
		};
	};

	sor {
		status = "disabled";
		prod-settings {
			status = "disabled";
		};
		panel-s-edp-uhdtv-15-6 {
			smartdimmer {
				status = "disabled";
			};
		};
	};
	
	/*spi@7000d400 {
		status = "okay";
		spidev@0 {
			status = "okay";
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency=<12000000>;
		};  
    };*/
	
	/*spi@7000d600 {
		status = "okay";
		spidev@0 {
			status = "okay";
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency=<12000000>;
		};  
    };*/
	
	/*spi@7000d800 {
		status = "okay";
		spidev@0 {
			status = "okay";
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency=<12000000>;
		};  
    };*/
	
	
	spi@7000da00 {
		status = "okay";
		can@0 {
            status = "okay";
            compatible = "microchip,mcp2515";
            reg = <0>;	/* spi chip select 0 */
            clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_2>;
            interrupt-parent = <&gpio>;
                /* the first cell defines the
                    index of the interrupt within the controller, while the second cell is used
                    to specify any of the following flags:
                    - bits[3:0] trigger type and level flags
                    1 = low-to-high edge triggered
                    2 = high-to-low edge triggered
                    4 = active high level-sensitive
                    8 = active low level-sensitive
                */
			interrupts = <TEGRA_GPIO(X, 3) 0x01>; /* GPIO_PX3 /GPIO8/ALS_PROX_INT */
			vdd-supply = <&battery_reg>;
			xceiver-supply = <&battery_reg>;
			spi-max-frequency=<24000000>;
		};
    };
	
	
	
	
};

#include <t210-common-overrides/tegra210-power-dvfs-override-ucm2c.dtsi>

